aclocal.m4
config.guess
config.log
config.status
config.sub
configure
Makefile.in
Makefile
config.h
config.h.in
libsctp.pc
libtool
lksctp-tools.spec
stamp-h1
*.deps/
*.libs/
autom4te.cache/
*.la
*.lo
*.o
tags
